/* start 1600px */

@media (max-width: 1600px) {

}

/* end 1600px */

/* start 1366px */

@media (max-width: 1366px) {
}

/* end 1366px */

/* start 1280px */

@media (max-width: 1280px) {
}

/* end 1280px */

/* start 1112px */

@media (max-width: 1112px) {	
}

/* end 1112px */

/* start 1024 */

@media (max-width: 1024px) {
}

/* end 1024px */

@media (min-width: 769px) and (max-width: 991px) {
}

/* start 768px */

@media (max-width: 768px) {
    .portfolio-section .portfolio-caption {
        width: 80%;
        bottom: -103%;
    }
    .portfolio-section:hover .portfolio-caption{
        bottom: -12%;
    }
    .johnpaul .carousel-dots {
        right: 0;-12%
    }
    .padding-top-40px, .stay-touch .address, .stay-touch .address-socialIcons {
        padding-top: 0;
        margin-top: 0;
    }
    .banner .banner-caption {
        top: 7%;
    }
    .banner .banner-caption h1 {
        font-size: 25px;
    }
    .banner .banner-video {
    width: 40%;
    margin: 0 auto;
}
.banner .banner-video .play-button {
    transform: translate(0%, 142%);
    width: 20%;
}
.banner .banner-video .video-frame {
    margin: 20px 0 0 0;
}

.features .group-desktop {
  display: none;
}
.features .group-ipad {
  display: block;
}
.getVersion .getVersion-caption {
    transform: translate(0%, 24%);
}
.testimonials .person img {
    width: 70px;
}
.choose-plan-desktop .section-plan {
    width: 100%;
    margin: 0;
}
.project-card {
    height: 240px;
}
.portfolio .wild-nature {
    height: 240px;
}
.portfolio .wildnature {
    font-size: 30px;
    color: #4b4b4b;
    line-height: 38px;
}

.portfolio .carousel-arrow {
    width: 30%;
}
.johnpaul .johnwidth {
    width: 50%;
}
.johnpaul .carousel.slide {
    transform: translate(0%, 35%);
}
.johnpaul .carousel.slide .carousel-indicators li {
    margin: 0 0px 7px -42px;
}

}

/* end 768px */
 
/* start to 767px */

@media (min-width: 320px) and (max-width: 767px) {

.choose-plan-desktop {
  background-color: #f6f6f6;
  display: none;
}
.choose-plan-mobile {
  background-color: #f6f6f6;
  display: block;
}

.choose-plan-mobile .section-plan {
    border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 30px;
  text-align: center;
    width: 80%;
    margin: 10px auto 0;
    float: none !important;
}
.choose-plan-mobile .carousel-indicators li {
    border-radius: 48px;
    background-color: transparent;
    font-size: 14px;
    padding: 4px 20px;
    color: #3c3c3c;
    text-transform: uppercase;
    height: auto;
    width: auto;
    line-height: normal;
    margin: 0;
}
.choose-plan-mobile .carousel-indicators li.active, .choose-plan-mobile .carousel-indicators li:hover {
    border-radius: 48px;
    background-color: #ebcb80;
    font-size: 14px;
    padding: 4px 20px;
    color: #3c3c3c;
    text-transform: uppercase;
    height: auto;
    width: auto;
    line-height: normal;
    margin: 0;

}
.choose-plan-mobile .section-plan p.title-silver {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #ebcb80;
  text-transform: uppercase;
}
.choose-plan-mobile .section-plan p {
  color: #fff;
}
.choose-plan-mobile .section-plan p.plan-dollar span {
      font-size: 18px;
    position: relative;
    top: -23px;
}
.choose-plan-mobile .section-plan p.plan-dollar {
  font-size: 50px;
}
.choose-plan-mobile .section-plan p.plan-year {
  margin: 0 0 15px 0;
}
.choose-plan-mobile .section-plan p a.download, .choose-plan-mobile .section-plan p a.download1{
      margin: 30px auto 0;
    display: inline-block;
    padding: 5px 60px;
}
.choose-plan-mobile .section-plan.silver {
  background-color: #4b4b4b;
}
.choose-plan-mobile .section-plan.gold {
  background-color: #ebcb80;
}
.choose-plan-mobile .section-plan.gold .title-silver {
color: #4b4b4b;
}
.choose-plan-mobile .section-plan.platinum {
  background-color: #4b4b4b;
}
    .portfolio-section .portfolio-caption .blue-icons {

    }
    .portfolio-section:hover .portfolio-caption, .portfolio-section .portfolio-caption {
            width: 100%;
    bottom: -10%;
    }
    .portfolio-section .portfolio-caption .blue {
        font-size: 20px;
    }
    .portfolio-section .portfolio-caption .date {
        font-size: 16px;
    }
    .portfolio-section .portfolio-caption .white-border {
        margin: 10px 0;
    }
    .portfolio-section .portfolio-caption {
            bottom: -110%;

        }
    .title {
        margin: 0 0 15px 0;
        font-size: 25px;
    }
    .title-sub {
        margin: 0 0 15px 0;
    }
    .features .features-list.margin-bottom-0 {
        margin-bottom: 25px;
    }
    section, footer {
    padding: 30px 0;
}
.johnpaul .carousel-dots {
    position: relative;
}

.features .group-desktop {
  display: block;
}
.features .group-ipad {
  display: none;
}
.johnpaul .background-paul-desktop {
  display: none;
}
.johnpaul .background-paul-mobile {
  display: block;
  width: 100%;
}
.johnpaul .johnwidth {
    width: 100%;
    float: left;
}
.johnpaul .carousel.slide .carousel-indicators li {
    display: inline-block;
}
.johnpaul .carousel.slide {
    transform: translate(0%, 15%);
}
.carousel-indicators {
    bottom: -74px;
}
.choose-plan-mobile .carousel-indicators {
    bottom: 0;
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    margin: 30px 0 0 0;
}
.johnpaul .carousel.slide .carousel-indicators li {
    margin: 0 0px 7px -35px;
}
.stay-touch .address {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}
.stay-touch .address-socialIcons {
    list-style: none;
    margin: 0px 0 15px 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}
.getVersion .background-desktop {
  display: none;
}
.getVersion .background-mobile {
  display: block;
  width: 100%;
}
.testimonials .person img {
    width: 60px;
}
.portfolio .carousel-arrow {
    width: 70%;
}

.map .map-icon-desktop {
  display: none;
}
.map .map-icon-mobile {
  display: block;
  width: 100%;
}
footer {
    text-align: center;
}
footer .footer-desc br {
    display: none;
}
footer .footer-desc {
    margin: 0 0 20px 0;
}
footer .footer-social p {
    text-align: center;
}
footer ul {
    display: inline-block;
}

.banner .background-desktop {
  display: none;
}
.banner .background-mobile {
  display: block;
  width: 100%;
}
.banner .banner-video {
    width: 100%;
}
.banner .banner-caption h1 {
    font-size: 20px;
    line-height: normal;
}
.banner .banner-caption {
    top: 20%;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle {
    margin-top: 20px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background: #ebcb80;
}
.navbar-nav {
    margin: 0px 0;
}
.nav>li {
    margin: 10px 0;
}
.navbar li a {
    color: #000 !important;
}
.navbar-default .navbar-nav>li>a .fa {
    display: none;
}

.mobile-social {
  display: block;
  list-style: none;
} 
.mobile-social li a .fa {
    font-size: 18px;
    color: #fff;
}
.mobile-social li {
    float: left;
    margin: 0 20px 0 0;
}
.mobile-social li a {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}
.menu-button {

}
.menu-social {
    float: left;
    margin: 32px auto 0 37px;
    width: 50%;
}
.menu-logo {

}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
/*.navbar-toggle { float: left;margin: 0; height: 50px; width: 50px; background: #444; border-radius: 0;z-index: 1}*/
.navbar-toggle .icon-bar { width: 28px; background: #fff;transition: .5s ease;}
.navbar-toggle.collapsed .icon-bar:nth-child(2){transform: rotate(0)translateY(0)translateX(0);}
.navbar-toggle.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggle.collapsed .icon-bar:nth-child(4){transform:rotate(0)translateY(0)translateX(0);}
.navbar-toggle .icon-bar:nth-child(2){transform: rotate(-45deg)translateY(5px)translateX(-5px);}
.navbar-toggle .icon-bar:nth-child(3){opacity: 0}
.navbar-toggle .icon-bar:nth-child(4){transform:rotate(45deg)translateY(-4px)translateX(-3px);}

}

/* end 320px to 767px */