
  body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.8;
    color: #818181;
  }
/*  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }*/
  p {
    margin: 0;
    padding: 0;
  }
  button {
    box-shadow: none;
    border: none;
  }
  a.download, button.download {
    border-radius: 50px;
    background-color: #ebcb80;
    font-size: 14px;
    padding: 9px 40px;
    color: #3c3c3c;
    text-transform: uppercase;
}
  a.download1 {
    border-radius: 50px;
    background-color: #4b4b4b;
    font-size: 14px;
    padding: 9px 40px;
    color: #fff;
    text-transform: uppercase;
}
  section, footer {
    padding: 50px 0;
  }
  .title {
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #4b4b4b;
    margin: 0 0 25px 0;
    padding: 0;
    text-transform: capitalize;
  }
  .title-sub {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 1px;
  text-align: center;
    margin: 0px 0 35px 0;
  color: #4b4b4b;
}

  .padding-0 {
    padding: 0;
  }
  .margin-0 {
    margin: 0;
  }


/*start menu*/
.HOFMANN {
  /*width: 38px;
  height: 42px;
  font-family: HelveticaNeue;*/
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #ebcb80;
}
.navbar-default .navbar-nav>li>a {
  /*width: 76px;
  height: 21px;
  font-family: HelveticaNeue;*/
  padding-top: 0;
  padding-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
}
.navbar-default .navbar-nav>li>a .fa {
  font-size: 18px;
}
.mobile-social {
  display: none;
}
/*end menu*/

/*start banner*/
.banner {
}
.banner .banner-caption {
  position: absolute;
  top: 15%;
  text-align: center;
  left: 0;
  right: 0;
}
.banner .banner-caption h1 {
  color: #fff;
  font-size: 30px;
  line-height: 35px;
}
.banner .banner-video {
  position: relative;
}
.banner .banner-video .play-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    transform: translate(0%, 250%);
}
.banner .banner-video .video-frame {
    object-fit: contain;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  margin: 50px 0 0 0;
}
  
.banner .background-desktop {
  display: block;
}
.banner .background-mobile {
  display: none;
}
/*.Background {
  width: 1440px;
  height: 768px;
  object-fit: contain;
}*/
/*end banner*/

/*start features*/
.features {
  /*padding: 80px 0 59px 0;*/
}
.features .group-desktop {
  display: block;
}
.features .group-ipad {
  display: none;
}
.features .features-list, .features .pixel-perfect, .features .organized-layers {
  margin: 25px 0;
  padding: 0 0px 0 80px; 
  position: relative; 
}
.features .features-list.margin-bottom-0 {
    margin-bottom: 0px;
}
.features .features-list::before, .features .pixel-perfect::before, .features .organized-layers::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/features/responsive.png);
  width: 55px;
  height: 50px;
}
.features .features-list::before {
  background: url(../images/features/responsive.png) no-repeat;
}
.features .pixel-perfect::before {
  background: url(../images/features/diamond.png) no-repeat;
}
.features .organized-layers::before {
  background: url(../images/features/layers.png) no-repeat;
}
.features .features-list .features-title {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  color: #4b4b4b;
  margin: 0 0 10px 0;
}
.features .features-list .features-details  {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #4b4b4b;
  line-height: 20px;
}

/*end features*/

/*start getVersion*/
.getVersion {
  position: relative;
}
.getVersion .background-desktop {
  display: block;
}
.getVersion .background-mobile {
  display: none;
}
.getVersion .getVersion-caption {
  position: absolute;
  top: 0%;
  text-align: center;
  left: 0;
  right: 0;
  transform: translate(0%, 120%);
}
.getVersion .title {
  color: #fff;
}
.getVersion .get-para {
  color: #fff;
  font-size: 14px;
      line-height: 20px;
      margin: 0 0 40px 0;
}

/*end getVersion*/

/*start testimonials*/
.card-bg {
  width: 554px;
  height: 322.5px;
  border-radius: 8px;
  background-color: #ffffff;
}
.testimonials .person {
  float: left;
  position: relative;
}
.testimonials .person img {
  width: 96px;
}
.testimonials .person img.quama {
       width: auto;
    position: absolute;
    bottom: -75px;
    margin: 0 auto;
    left: 0;
    right: 0px;
}
.testimonials .person-details {
      float: right;
    width: 76%;
}
.testimonials .person-details .person-name {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1px;
  color: #4b4b4b;
}
.testimonials .person-details .person-design {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #7d7d7d;
  border-bottom: 2px solid #f6f6f6;
  padding: 0 0 7px 0;  
}
.testimonials .person-details .person-description {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #4b4b4b;
  margin: 30px 0 0 0;
}
.testimonials .testimonials-slug {
  margin: 30px 0;
}
.testimonials .testimonials-social {
  list-style: none;
  padding: 10px 0 0 0;
  margin: 0;
}
.testimonials .testimonials-social li {
    float: left;
    margin: 0 10px 0 0;
}
.testimonials .testimonials-social li a .fa {
  font-size: 15px;
  color: #ebcb80;
}
/*end testimonials*/

/*start choose plan*/
.choose-plan-desktop {
  background-color: #f6f6f6;
  display: block;
}
.choose-plan-mobile {
  background-color: #f6f6f6;
  display: none;
}
.choose-plan-desktop .section-plan {
    border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 30px;
  text-align: center;
    width: 70%;
    margin: 30px auto 0;
}
.choose-plan-desktop .section-plan p.title-silver {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #ebcb80;
  text-transform: uppercase;
}
.choose-plan-desktop .section-plan p {
  color: #fff;
}
.choose-plan-desktop .section-plan p.plan-dollar span {
      font-size: 18px;
    position: relative;
    top: -23px;
}
.choose-plan-desktop .section-plan p.plan-dollar {
  font-size: 50px;
}
.choose-plan-desktop .section-plan p.plan-year {
  margin: 0 0 15px 0;
}
.choose-plan-desktop .section-plan p a.download, .choose-plan-desktop .section-plan p a.download1{
      margin: 30px auto 0;
    display: inline-block;
}
.choose-plan-desktop .section-plan.silver {
  background-color: #4b4b4b;
}
.choose-plan-desktop .section-plan.gold {
  background-color: #ebcb80;
}
.choose-plan-desktop .section-plan.gold .title-silver {
color: #4b4b4b;
}
.choose-plan-desktop .section-plan.platinum {
  background-color: #4b4b4b;
}
/*end choose plan*/

/*start portfolio*/
.portfolio {
  padding-bottom: 100px;
}
#carousel-portfolio {
  margin: 30px 0 0 0;
}
.project-card {
  width: 100%;
}
.portfolio-section {
  position: relative;
}

.portfolio-section:hover .portfolio-caption {
  bottom: 0;
  transition: 0.5s all;
}
.portfolio-section .portfolio-caption {
    position: absolute;
    bottom: -70%;
    width: 45%;
    right: 0;
    padding: 30px 50px;
    transition: 0.5s all;
}
.portfolio-section .portfolio-caption .white-border {
    width: 32px;
    height: 6px;
    background-color: #fff;
    margin: 20px 0;
}
.portfolio-section .portfolio-caption .blue {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.portfolio-section .portfolio-caption .date {
  color: #fff;
  font-size: 18px;
}
.portfolio-section .portfolio-caption .blue-para {
  color: #fff;
  line-height: 20px;
}
.portfolio-section .portfolio-caption .blue-icons {
      list-style: none;
    color: #fff;
    margin: 15px 0 0 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}
.portfolio-section .portfolio-caption .blue-icons li {
  float: left;
  font-size: 12px;
  margin: 0 20px 0 0;
}
.portfolio-section .portfolio-caption .blue-icons li .fa {
  margin: 0 7px 0 0;
}
.portfolio-section .portfolio-caption .blue-icons li span {
  margin: 0 0 0 22px;
}
.portfolio .carousel-indicators-numbers {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #4b4b4b;
    bottom: -70px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
}
.portfolio .carousel-arrow {
      position: absolute;
    width: 20%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -34px;
    z-index: 50;  
}
.portfolio .wild-nature {
  background-color: #f6f6f6;
  width: 100%;
  height: 390px;
  padding: 30px;
}
.portfolio .wild-nature .scenery {
  font-size: 26px;
  color:  #4b4b4b;
}
.portfolio .wild-nature .rectangle {
  width: 32px;
  height: 6px;
  background-color: #4b4b4b;
  margin: 20px 0;
}
.portfolio .wildnature {
  font-size: 40px;
  color:  #4b4b4b;
  line-height: 50px;
}
/*end portfolio*/

/*start john paul*/
.johnpaul {
  position: relative;
}

.johnpaul .background-paul-desktop {
  display: block;
}
.johnpaul .background-paul-mobile {
  display: none;
}
/*.johnpaul .johnpaul-caption {
    position: absolute;
    top: 0%;
    text-align: center;
    left: 0;
    right: 0;
    transform: translate(0%, 120%);
}*/
.johnpaul .carousel.slide {
    position: absolute;
    top: 0%;
    text-align: center;
    left: 0;
    right: 0;
    transform: translate(0%, 120%);
}
.johnpaul .carousel.slide .carousel-indicators {
  margin-left: 0;
  width: auto;
}
.johnpaul .carousel.slide .carousel-indicators li{
      border: 1px solid #fff;
    text-indent: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    line-height: 28px;
        margin: 0 0px 7px 0;
    display: block;
}
.johnpaul .carousel-dots {
    position: absolute;
    right: 10%;
}
.johnpaul .johnwidth {
  width: 30%;
    float: right;
    text-align: left;
    color: #fff;
    margin: 0 60px 0 0;
}
.johnpaul .title {
  text-align: left;
    color: #fff;
    text-transform: inherit;
    margin: 0;
}
.johnpaul .john-para {
    font-size: 13px;
    margin: 10px 0 0 0;
}
/*end john paul*/

/*start stay touch*/
.stay-touch {
  padding-bottom: 0;
}
.stay-touch .title {
  margin: 0 0 40px 0
}
.stay-touch .form-control:focus {
  box-shadow: none;
}
.stay-touch input {
  height: 27px; 
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #7d7d7d;
  border: none;
  border-bottom: 1px solid #7d7d7d;
  border-radius: 1px;
  box-shadow: none;
  margin: 0 0 20px 0;
}
.stay-touch .address, .stay-touch .address-socialIcons {
  list-style: none;
  margin: 40px 0 0 0;
}
.padding-top-40px {
  padding-top: 40px;
}
.stay-touch .address li {
  position: relative;
  padding: 0 0 0 25px;
  margin: 0 0 10px 0;
  font-size: 13px;
}
.stay-touch .address li.marker::before,
.stay-touch .address li.phone::before,
.stay-touch .address li.envelope::before {
  font-family: "Glyphicons Halflings";
  position: absolute;
  top: 0;
  left: 0;
}
.stay-touch .address li.marker::before {
  content: "\e062";  
}
.stay-touch .address li.phone::before {
  content: "\e145";  
}
.stay-touch .address li.envelope::before {
  content: "\2709";  
}
.stay-touch .address-socialIcons li {
  float: left;
  margin: 0 25px 0 0;
}
.stay-touch .address-socialIcons li a {
  color: #818181;
  font-size: 18px;
}
/*end stay touch*/

/*start map*/
.map {
  position: relative;
  }

.map .map-icon-desktop {
  display: block;
}
.map .map-icon-mobile {
  display: none;
}
.map .arrow_box {
  position: absolute;
  background: #ebcb80;
  border: 4px solid #ebcb80;
  width: 192px;
  padding: 10px;
  top: 40%;
  right: 25%;
  box-shadow: 0 2px 4px 0 #00000080;
  color: #4b4b4b;
  text-align: center;
  font-size: 13px;
}
.map .arrow_box:after, .map .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/*.map .arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #88b7d5;
  border-width: 30px;
  margin-left: -30px;
}*/
.map .arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #ebcb80;
  border-width: 15px;
  margin-left: -13px;
}

.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/*.map .arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #88b7d5;
  border-width: 30px;
  margin-left: -30px;
}*/
/*.map .arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #c2e1f5;
  border-width: 36px;
  margin-left: -36px;
}*/
/*end map*/

/*start footer*/
footer {
  background-color: #4b4b4b;
  position: relative;
}
footer h6 {
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #ebcb80;
}
footer .footer-desc {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul li a, footer ul li a:hover {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}
footer .subscribe {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 30px 0 15px 0;
}
footer .footer-social {
  float: right;
  width: 100%;
}
footer .footer-social p {
  text-align: left;
}
footer .footer-social ul li {
  float: left;
  margin: 0 20px 0 0;
}
footer .footer-social ul li a {
  font-size: 20px;
  color: #ebcb80;
}
footer .subs-button input {
      border-radius: 4px 0 0 4px;
    border: solid 1px #7d7d7d;
    height: 35px;
    font-size: 13px;
    background: transparent;
    color: #fff;
    padding: 0 10px;
}
footer .subs-button input:focus, footer .subs-button button {
  box-shadow: none;
  outline: none;
}
footer .subs-button button {
  width: 35px;
  height: 35px;
  margin: 0 0 0 -3px;
  background-color: #ebcb80;
  border-radius: 0 4px 4px 0;
}
footer .subs-button button i {
    font-weight: bold;
    font-size: 20px;  
}
.arrow-up {
      position: absolute;
    right: 5%;
    bottom: 15%;
    z-index: 10;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 39px;
    background: #ebcb80;
}
.arrow-up a span {
  color: #4b4b4b;
}
/*end footer*/


  .jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: transparent;
    text-indent: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 28px;
    margin: 0 10px 0 0;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);*/
  }
  .carousel-indicators .active {
    width: 32px;
    height: 32px;
  }
  .carousel-indicators li.active {
    /*background-color: #f4511e;*/
    line-height: 28px;
    margin: 0 10px 0 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    color: #ebcb80;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: transparent;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    width: 100%;
  }
  .navbar li a {
    color: #fff !important;
  }
  .navbar-nav {
    margin-top: 30px;
  }
  .navbar .navbar-brand.HOFMANN {
    color: #ebcb80;
    height: auto;
    padding: 15px 15px;
    font-size: 36px;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ebcb80 !important;
    /*background-color: #fff !important;*/
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }